/*------------------------------------*\
    $MAIN-BLOCK
\*------------------------------------*/
html,
body,
.mySite,
.mySite__homePage,
.mySite__mainContent {
  width: 100%;
  height: 100%;
}
.mySite__homePage {

}
.mySite__mainContent {
  display: none;
}





/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.mySite__mainContent--header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
  .mainContentTitle {
    width: 100%;
    text-align: center;
    font-size: 3em;
  }





/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.mainNavButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: thick black solid;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  display: none;
}
.mainNav {
  width: 100%;
  height: 100%;
  background-color: orange;
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
}
  .nav__list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .nav__list__option {
      list-style: none;
      font-size: 3em;
      margin-bottom: 30px;
      cursor: pointer;
    }





/*------------------------------------*\
    $WORK-CONTENT
\*------------------------------------*/
.aboutContent {
  width: 100%;
  height: 100%;
  display: none;
}
  .aboutContent__personalPic {
    width: 100%;
    height: 30%;
  }
  .aboutContent__skills {
    width: 100%;
    height: 50%;
  }




/*------------------------------------*\
    $WORK-CONTENT
\*------------------------------------*/
.workContent {
  width: 100%;
  height: 100%;
  display: none;
}
  .workContent--children {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px rgba(154, 154, 154, 0.73) solid;*/
  }
    .roulette {
      width: 80%;
      height: 80%;
      background-color: rgba(247, 99, 99, 0.86);
    }
    h1 {
      margin: 0;
    }




/*------------------------------------*\
    $WORK-CONTENT-DETAIL
\*------------------------------------*/
.workContentDetail {
  width: 100%;
  height: 100%;
  display: none;
}
  .workContentDetail__nav {
    width: 100%;
    position: fixed;
    top: 0%;
  }
    .projectList {
      width: 60%;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      .projectList__option {
        list-style: none;
        display: inline-block;
      }
  .workContentDetail__portfolio {
    width: 100%;
    height: 100%;
  }
    .project--info {}
    .project--feature {}
    .project--tech {}
    .project--image {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;;
      align-items: center;
    }
      .project__image {
        width: 60%;
        height: 30%;
        background-color: rgb(12, 200, 200);
      }




/*------------------------------------*\
    $LIFE-CONTENT
\*------------------------------------*/
.lifeContent {
  width: 100%;
  height: 100%;
}




/*------------------------------------*\
    $SOCIAL-MEDIA-CONTENT
\*------------------------------------*/
.socialMediaContent {
  width: 100%;
  height: 15%;
  background-color: rgba(65, 76, 222, 1);
  display: none;
}
