/**********************

  @media screen and (max-width: 34em) {}
  @media screen and (min-width:34.1em) and (max-width: 48em) {}
  @media screen and (min-width:48.1em) and (max-width: 62em) {}
  @media screen and (min-width:62.1em) and (max-width: 75em) {}
  @media screen and (min-width: 75.1em) {}

***********************/


/*------------------------------------*\
    $MAIN-BLOCK
\*------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body,
.mySite {
  width: 100%;
  height: 100%;
}






/*------------------------------------*\
    $HOMEPAGE
\*------------------------------------*/
.mySite__homePage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  /*display: none;*/
}
.mySite__homePage__content {
  width: 100%;
}
  .homePageDescription {
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;
  }
  .homePageEntrance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
  }

  .entranceBox {
    width: 100%;
    height: 100px;
    position: relative;
  }


  .mainContentEntrance {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: calc((100% - 100px) / 2);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
  }
    .entranceArrow {
      width: 30px;
      height: 30px;
      border-top: 2px solid black;
      border-right: 2px solid black;
      transform: rotate(45deg);
      position: absolute;
      left: calc((100% - 45px) / 2);
      top: 35px;
      transition: left 0.3s ease;
    }
    /**************  entrance animation1 at home page  ****************/
    .entranceAnimation1 {
      animation: entranceAnimation1 0.3s ease 1 forwards;
    }
    @keyframes entranceAnimation1 {
      0% {
        transform: scale(1, 1);
      }
      100% {
        transform: scale(0, 0);
      }
    }
    /**************  entrance animation2 at home page  ****************/
    .entranceAnimation2 {
      animation: entranceAnimation2 0.3s ease 1 forwards;
    }
    @keyframes entranceAnimation2 {
      0% {
        left: calc((100% - 45px) / 2);
      }
      100% {
        left: 100%;
      }
    }





/*------------------------------------*\
    $MAINCONTENT
\*------------------------------------*/
.mySite__mainContent {
  width: 100%;
  height: 100%;
  display: none;
}







/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.mainNavButton {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px rgb(184, 4, 200) solid;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  display: none;
}
.mainNav {
  width: 100%;
  height: 100%;
  background-color: rgb(175, 180, 179);
  position: fixed;
  top: 0%;
  left: 100%;
  z-index: 2;
  transition: left 0.3s ease-out;
  /*display: none;*/
}
/**************  slide in main navigation  ****************/
.showMainNav {
  animation: showMainNav 0.3s 1 ease-out forwards;
}
@keyframes showMainNav {
  0% {
    left: 100%;
  }
  40% {
    left: 0%;
  }
  50% {
    left: 15%;
  }
  100% {
    left: 0%;
  }
}
/**************  slide out main navigation  ****************/
.closeMainNav {
  animation: closeMainNav 0.3s 1 ease-out forwards;
}
@keyframes closeMainNav {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
  .nav__list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .nav__list__option {
      list-style: none;
      font-size: 3em;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .fadeInNavItem {
      animation: fadeInNavItem 0.3s 1 ease-out forwards;
    }
    @keyframes fadeInNavItem {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }





/*------------------------------------*\
    $ABOUT-CONTENT
\*------------------------------------*/
.aboutContent {
  width: 90%;
  height: 100%;
  /*background-color: rgb(40, 120, 193);*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: none;
}
  .aboutContent__personalInfo {
    width: 100%;
    margin-top: 50px;
  }
    .personalPic {
      width: 100px;
      height: 100px;
      background-color: rgba(175, 180, 179, 0.79);
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .personalMedia {
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
      .mediaItem {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(175, 180, 179, 0.79);
      }
  .aboutContent--title {
    text-align: center;
    font-size: 5em;
    margin-top: 30px;
  }

  /**  aboutContent__skills GRID SYSTEM  **/
  .aboutContent__skills--container {
    width: 100%;
  }
    .aboutContent__skills--row {
      width: 100%;
      display: table;
      clear: both;
      content: "";
      margin-left: auto;
      margin-right: auto;
    }
      .aboutContent__skills--column {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 50px;
      }
      @media screen and (min-width:34em) {
        .aboutContent__skills--column {
          width: 50%;
          float: left;
        }
      }
        .aboutContent__skills--grid {
          width: 100%;
        }


  .aboutContent__introduction {
    width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width:34.1em) and (max-width: 48em) {
    .aboutContent {
      width: 85%;
    }
    .aboutContent__introduction,
    .aboutContent__skills--row {
      width: 80%;
    }
  }
  @media screen and (min-width:48.1em) and (max-width: 62em) {
    .aboutContent {
      width: 80%;
    }
    .aboutContent__introduction,
    .aboutContent__skills--row {
      width: 70%;
    }
  }
  @media screen and (min-width:62.1em) and (max-width: 75em) {
    .aboutContent {
      width: 75%;
    }
    .aboutContent__introduction,
    .aboutContent__skills--row {
      width: 60%;
    }
  }
  @media screen and (min-width: 75.1em) {
    .aboutContent {
      width: 1000px;
    }
    .aboutContent__introduction,
    .aboutContent__skills--row {
      width: 600px;
    }
  }

  /***/
  @media screen and (min-width: 34em) {
    .aboutContent__personalInfo,
    .aboutContent__introduction {
      margin-top: 150px;
    }
  }





/*------------------------------------*\
    $WORK-CONTENT
\*------------------------------------*/
/*****************  main content grid  ********************/
.workContent--container {
  width: 100%;
  display: none;
}
  .workContent--title {
    text-align: center;
    font-size: 5em;
    margin-top: 30px;
  }
  .workContent--row {
    width: 100%;
    display: table;
    clear: both;
    content: "";
    margin-left: auto;
    margin-right: auto;
  }
  .workContent--column {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 50px;
  }
  .workContent--grid {
    width: 100%;
  }
    .workTitle {
      text-align: center;
      margin: 0;
    }
    .workItem {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: rgba(175, 180, 179, 0.79);
    }
    .work--roulette {
      background-image: url(../img/roulette.jpg);
    }
    .work--baccarat {
      background-image: url(../img/baccarat.jpg);
    }
    .work--zootopia {
      background-image: url(../img/zootopia.jpg);
    }
    .work--sicbo {
      background-image: url(../img/sicbo.jpg);
    }
/***************  column  ****************/
@media screen and (min-width:48em) {
  .workContent--column {
    width: 33.33333%;
    float: left;
  }
}
/***************  row  ****************/
@media screen and (min-width:20em) and (max-width:34em){
  .workContent--row {
    width: 80%;
  }
}
@media screen and (min-width:34.1em) and (max-width:48em) {
  .workContent--row {
    width: 60%;
  }
}
@media screen and (min-width:48.1em) and (max-width:62em) {
  .workContent--row {
    width: 90%;
  }
}
@media screen and (min-width:62.1em) and (max-width:75em) {
  .workContent--row {
    width: 70%;
  }
}
@media screen and (min-width:75.1em) {
  .workContent--row {
    width: 60%;
  }
}




/*------------------------------------*\
    $WORK-CONTENT-DETAIL
\*------------------------------------*/
.workContentDetail {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.5s ease;
  display: none;
}
  .workContentDetail__nav {
    width: 100%;
    height: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
    .workContentDetailList {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      .previousButton {
        width: 30px;
        height: 30px;
        border-top: 3px solid black;
        border-right: 3px solid black;
        transform: rotate(225deg);
      }
      .nextButton {
        width: 30px;
        height: 30px;
        border-top: 3px solid black;
        border-right: 3px solid black;
        transform: rotate(45deg);
      }
      .closeButtonWrap {
        width: 50px;
        height: 50px;
        position: relative;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .leftCloseLine {
          width: 30px;
          height: 30px;
          border-top: 3px solid black;
          border-right: 3px solid black;
          transform: rotate(225deg);
          position: absolute;
          left: 29px;
        }
        .rightCloseLine {
          width: 30px;
          height: 30px;
          border-top: 3px solid black;
          border-right: 3px solid black;
          transform: rotate(45deg);
          position: absolute;
          right: 29px;
        }





@media screen and (min-width:34.1em) and (max-width: 48em) {
  .workContentDetail {
    width: 85%;
  }
  .workContentDetail__nav {
    width: 75%;
  }
}
@media screen and (min-width:48.1em) and (max-width: 62em) {
  .workContentDetail {
    width: 80%;
  }
  .workContentDetail__nav {
    width: 70%;
  }
}
@media screen and (min-width:62.1em) and (max-width: 75em) {
  .workContentDetail {
    width: 75%;
  }
  .workContentDetail__nav {
    width: 65%;
  }
}
@media screen and (min-width:75.1em) {
  .workContentDetail {
    width: 1000px;
  }
  .workContentDetail__nav {
    width: 500px;
  }
}
  .project--title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 40px;
    margin-top: 30px;
  }
  .workContentDetail__portfolio {
    width: 100%;
  }
    .project--info {
      margin-top: 50px;
    }
    .project--responsibility {
      margin-top: 50px;
    }
    .project--tech {
      margin-top: 50px;
    }
    .project--video {
      width: 300px;
      height: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
      /* display: none; */
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
      .project__video {
        width: 100%;
        height: 100%;
        background-color: rgb(12, 200, 200);
      }
      @media screen and (min-width:34em) {
        .project--info,
        .project--responsibility,
        .project--tech,
        .project--video {
          margin-top: 150px;
        }
        .project--video {
          width: 400px;
          height: 300px;
        }
      }
